<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="co.monkeyx.phoenix_imperator">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="21" />
	<application android:label="Imperator" android:icon="@drawable/icon">
		<uses-permission android:name="android.permission.WAKE_LOCK" />
	</application>
</manifest>