<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="co.monkeyx.phoenix_imperator" android:versionCode="1" android:versionName="1.2">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="23" />
	<application android:label="Imperator" android:icon="@drawable/icon">
		<uses-permission android:name="android.permission.WAKE_LOCK" />
		<meta-data android:name="ubertesters_project_id" android:value="ed357380-7ca3-11e5-b469-22000a9127ac" />
	</application>
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
</manifest>